/* #a0ecd0 bright mint -- #94ddbc mint -- #331832 purple -- #d81e5b magenta --- #f0544f coral */

body {
  font-family: 'Bitter', serif;
  margin: 0px;
}

main {
  display: grid;
  align-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #d81e5b;
  text-decoration: none;
}

a:visited {
  color: #f0544f;
}

a:hover {
  color: #94ddbc;
  cursor: pointer;
}

h1 {
  font-family: 'Barriecito', cursive;
  font-size: 48px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 33px;
}

h3 {
  color: #d81e5b;
  font-size: 24px;
}

h3:hover {
  transition: color 0.5s ease;
  color: #94ddbc;
}

h4 {
  color: #331832;
  font-size: 20px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav {
  background-color: #331832;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.nav #nav-title {
  justify-content: flex-start;
  margin-left: 5%;
}
.nav #nav-links {
  color: #fff;
  justify-content: flex-end;
  font-family: 'Barriecito', cursive;
  font-size: 32px;
  margin-right: 5%;
}

.splash {
  display: grid;
  grid-template-columns: 50% 50%;
}
.splash a {
  color: #fff;
}
.splash-right {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.splash-left img {
  margin-bottom: 0px;
  max-height: 100vh;
  max-width: auto;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
.splash-right > div {
  background: #d81e5b;
  box-shadow: 8px 10px #331832;
  width: 300px;
  line-height: 40px;
  padding: 5px;
  margin: 15%;
}

.splash-right > div:hover {
  background: #f0544f;
  cursor: pointer;
}

.grow {
  transition: all 0.4s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

.plant-container {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-items: space-around;
  justify-content: center;
  align-content: flex-start;
}

.plant-container img {
  width: 250px;
  height: 250px;
}

#single-plant-title {
  height: 50px;
}

.add-to-cart-button {
  background-color: #f0544f;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 150px;
  transition: all 0.4s ease-in-out;
}
.add-to-cart-button:hover {
  background-color: #d81e5b;
  border: none;
  box-shadow: 2px 3px #331832;
  cursor: pointer;
  transform: scale(1.2);
}

.cart-item {
  display: flex;
}

.cart-item img {
  width: 250px;
  height: 250px;
}

#cart-item-info {
  padding-left: 10px;
}

#single-plant-title {
  min-height: 50px;
}

#dropdown-menu {
  color: #d81e5b;
  padding-bottom: 15px;
}

#dropdown-menu select {
  font-size: 15px;
  height: 25px;
  text-align: center;
  width: 50px;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #d81e5b;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
