body {
  font-family: sans-serif;
  /* background: url('https://www.clipartwiki.com/clipimg/detail/215-2153665_tentacle-clipart-octopus-octopus-tentacles-drawing.png'); */
  /* background: url('https://i.pinimg.com/originals/94/58/16/945816c201719cf466c1c68ce0c8de5e.jpg'); */
  background-size: cover;
}

main {
  display: grid;
  align-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}
h2 {
  color: black;
}
h2:hover {
  transition: color 1s ease;
  color: fuchsia;
  text-decoration: underline;
  text-decoration-color: green;
}
h3 {
  color: black;
}
h4 {
  color: fuchsia;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 250px auto auto auto auto;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: auto;
}
.nav .link {
  color: white;
  text-decoration: underline;
}

.nav #title {
  font-size: 24px;
  text-shadow: 1px 1px green;
}

.plant-container {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-items: space-around;
  justify-content: center;
  align-content: flex-start;
}

.plant-container img {
  width: 250px;
  height: 250px;
}

.cart-item {
  display: flex;
}

.cart-item img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#cart-item-info {
  padding-left: 10px;
}
