body {
  font-family: sans-serif;
  background: url('https://www.clipartwiki.com/clipimg/detail/215-2153665_tentacle-clipart-octopus-octopus-tentacles-drawing.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
